//VARIABLES
$blue: hsl(246, 80%, 60%);
$work: hsl(15, 100%, 70%);
$play: hsl(195, 74%, 62%);
$study: hsl(348, 100%, 68%);
$exercise: hsl(145, 58%, 55%);
$social: hsl(264, 64%, 52%);
$selfCare: hsl(43, 84%, 65%);

$dkBlue: hsl(226, 43%, 10%);
$mdBlue: hsl(235, 46%, 20%);
$grayBlue: hsl(235, 45%, 61%);
$ltBlue: hsl(236, 100%, 87%);


//SETUP
*,*::after,*::before{
    box-sizing: border-box;
    margin:0;
}

body, html{
    height: 100vh;
    width: 100%;
}

body{
    font-family: "Rubik", sans-serif;
    background-color: $dkBlue;
}

//TEXT & REUSABLES
h2, h3{
    color: #fff;
}

h2{
    font-size: 2rem;
    font-weight: 300;
}

h3{ 
    font-weight: 500;
    margin-bottom: 0.5rem;
}

span{ 
    color:$ltBlue;
    display: block;
    font-weight: 300;
    margin-top: 1.5rem;
}


//TRACKER
.tracker{ 
    background-color: $work;
    border-radius: 25px;
    margin:1rem auto;
    overflow: hidden;

    position: relative;

    height: 175px;
    max-width: 500px;
    width: 90%;

    &--profile{
        background:$mdBlue;
    }

    &--Work{
        background-image: linear-gradient($work 25%, $mdBlue);
    }

    &--Play{
        background-image: linear-gradient($play 25%, $mdBlue);
    }

    &--Study{
        background-color: $study;
    }

    &--Exercise{
        background-color: $exercise;
    }

    &--Social{ 
        background-color: $social;
    }

    &--SelfCare{
        background-color: $selfCare
    }
}

.tracker-inner{ 
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: $mdBlue;
    border-radius: 25px;
    padding: 1rem;

    position:absolute;
    bottom:-1px;

    height: 80%;
    width: 100%;

     &--profile{
        background: $blue;
        top:0;
     }
}

.icon{
    position: absolute;
    top: -10px;
    right: 1rem;
}

.history{
    text-align: right;
}

//PROFILE
.profile-img{
    border: #fff 3px solid;
    border-radius: 100%;
    height: 75px;
    width: 75px;
}
